<div class="form-container">
    <h1>Actualizar carrera</h1>
    <form [formGroup]="carreraForm" (ngSubmit)="onSubmit(carreraForm.value)">
        <label for="nombre">Nombre</label>
        <input type="text" formControlName="nombre" id="nombre" placeholder="Ingresa el nombre de la carrera">
        <div *ngIf="carreraForm.get('nombre')?.invalid && (carreraForm.get('nombre')?.touched || carreraForm.get('nombre')?.dirty)">
            <span class="error-message" *ngIf="carreraForm.get('nombre')?.errors?.['required']">El campo nombre es obligatorio.</span>
        </div>
        <button type="submit" class="primary-button" [disabled]="!carreraForm.valid">Actualizar</button>
    </form>
</div>