<div class="mb-6 bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:w-full sm:mx-auto"> 
    <div class="px-6 py-4 bg-gray-400">
        <div class="text-lg">
            <button class="close-modal-button" (click)="close()">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
            <h1>Cambiar rol</h1>
        </div>
        <div class="mt-4">
            <h3>Selecciona el rol que deseas asignar al usuario</h3>
            <form [formGroup]="rolForm" (ngSubmit)="onSubmit(rolForm.value)">
                <label for="rol">Rol</label>
                <select formControlName="rol">
                    <option value="" disabled selected>Selecciona un rol</option>
                    <option *ngFor="let rol of roles" [value]="rol.id">{{rol.name}}</option>
                </select>
                <div *ngIf="rolForm.get('rol')?.invalid && (rolForm.get('rol')?.touched || rolForm.get('rol')?.dirty)">
                    <span class="error-message" *ngIf="rolForm.get('rol')?.errors?.['required']">El campo rol es obligatorio.</span>
                </div>
            </form>
        </div>
        <div class="px-6 py-4 text-right">
            <button type="submit" class="confirm-modal-button" (click)="onSubmit(rolForm.value)">Confirmar</button>
            <button class="cancel-modal-button" (click)="close()" type="button">Cancelar</button>
        </div>
    </div>
</div>
